<div class="header">
    <div class="header_nav">
        <div class="nav_container">
            <a class="logo" href="/">
                <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
                    width="148">
            </a>
            <div class="nav_menu">
                <a class="nav_link link_current" routerLink="/product">Product</a>
                <a class="nav_link" routerLink="/person">Person</a>
                <a class="nav_link" href="/">CAREERS</a>
                <a class="nav_link" href="/">CONNECT</a>
                <a class="nav_link contact" href="/">PROFILE</a>
            </div>
            <div class="menu_button"></div>
        </div>
    </div>
    <!-- <h1 class="header_content">
        Organize, Collaborate, Accomplish
    </h1> -->
    <div class="header_overlay"></div>
  </div>