<h3>Edit Product</h3>
<div *ngIf="product" class="editProduct">
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type=" text" id="name" [(ngModel)]="product.name">
        </div>
        <!-- <ng-template #nullProduct></ng-template> -->
        <!-- {{product ? product.name : "Unknown"}} -->
    </div>
    <div class="mb-3 row">
        <label for="descriptionArea" class="col-sm-2 col-form-label">Desription</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="descriptionArea" rows="3" [(ngModel)]="product.description"></textarea>
            <!-- <ng-template #nullProduct></ng-template> -->
            <!-- {{product ? product.name : "Unknown"}} -->
        </div>
    </div>
    <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="number" id="price" [(ngModel)]="product.price">
        </div>
        <!-- <ng-template #nullProduct></ng-template> -->
        <!-- {{product ? product.name : "Unknown"}} -->
    </div>
    <div class="mb-3 row">
        <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-10">
            <input type="number" id="quantity" [(ngModel)]="product.quantity">
        </div>
        <!-- <ng-template #nullProduct></ng-template> -->
        <!-- {{product ? product.name : "Unknown"}} -->
    </div>
    <button type="button" class="btn btn-primary editProduct_btn" (click)="edit(product)">Save</button>
</div>