<h3>Add Product</h3>
<form [formGroup]="frmAddProduct" (ngSubmit)="createProduct(frmAddProduct.value)">
    <div class="editProduct">
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type=" text" id="name" required="" formControlName="name">
            </div>
            <p *ngIf="(!frmAddProduct.controls.name.valid) && (frmAddProduct.controls.name.dirty|| frmAddProduct.controls.name.touched)"
                class="text-danger">Name doesn't have content</p>

        </div>
        <div class="mb-3 row">
            <label for="descriptionArea" class="col-sm-2 col-form-label">Desription</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="descriptionArea" rows="3" formControlName="description" required></textarea>
            </div>
            <p *ngIf="(!frmAddProduct.controls.description.valid) && (frmAddProduct.controls.description.dirty|| frmAddProduct.controls.description.touched)"
                class="text-danger">Name doesn't have content</p>
        </div>
        <div class="mb-3 row">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="number" id="price" formControlName="price">
            </div>
            <p *ngIf="(!frmAddProduct.controls.price.valid) && (frmAddProduct.controls.price.dirty|| frmAddProduct.controls.price.touched)"
                class="text-danger">Price not is number</p>
        </div>
        <div class="mb-3 row">
            <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
                <input type="number" id="quantity" formControlName="quantity">
            </div>
            <p *ngIf="(!frmAddProduct.controls.quantity.valid) && (frmAddProduct.controls.quantity.dirty|| frmAddProduct.controls.quantity.touched)"
                class="text-danger">Quantity not is number</p>
        </div>
        <button type="submit" [disabled]="!frmAddProduct.valid" class="btn btn-primary editProduct_btn">Save</button>
    </div>
</form>