<h3>Add Product</h3>
<form #frmAdd="ngForm" (ngSubmit)="createProduct(frmAdd.value)">
    <div class="editProduct">
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type=" text" id="name" name="name" ngModel>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="descriptionArea" class="col-sm-2 col-form-label">Desription</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="descriptionArea" rows="3" name="description" ngModel></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="number" id="price" ngModel name="price">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
                <input type="number" id="quantity" ngModel name="quantity">
            </div>
        </div>
        <button type="submit" class="btn btn-primary editProduct_btn">Save</button>
    </div>
</form>